<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multer Error Handling</title>
  </head>
  <body>
    <h1>Upload Single File :</h1>
    <form action="/upload/single" method="post" enctype="multipart/form-data">
      <label for="pfp">Profile Picture</label>
      <input type="file" name="pfp" />
      <button type="submit">Upload</button>
    </form>
    <br />

    <h1>Upload Array Files :</h1>
    <form action="/upload/array" method="post" enctype="multipart/form-data">
      <label for="photos">Photos</label>
      <input type="file" name="photos" multiple />
      <button type="submit">Upload</button>
    </form>
    <br />

    <h1>Upload Files using Fields :</h1>
    <form action="/upload/fields" method="post" enctype="multipart/form-data">
      <label for="pfp">Profile Picture</label>
      <input type="file" name="pfp" />

      <label for="photos">Photos</label>
      <input type="file" name="photos" multiple />

      <button type="submit">Upload</button>
    </form>
  </body>
</html>
